<!--The content below is only a placeholder and can be replaced.-->
<div class="top-header page-margin">
  <span class="top-header-home">
    Home
  </span>
  <span class="separator">
    <img src="../assets/images/top-header-arrow.png" alt="arrow">
  </span>
  <span class="top-header-products">
    Products
  </span>
</div>
<div class="bottom-header page-margin">
  <div class="left-side">
    <span class="primary-title">
      10Gix
    </span>
      <span class="arrow">
      &rsaquo;
    </span>
      <span class="secondary-title">
      Products
    </span>
      <span class="arrow">
      &rsaquo;
    </span>
  </div>

  <div class="right-menu">
    <span class="icon-wrapper" (click)="onListViewClick()">
      <i class="fas fa-th-list"></i>
      <span>
        List
      </span>
    </span>
    <span class="icon-wrapper" (click)="onThumbViewClick()">
      <i class="fas fa-th"></i>
      <span>
        Thumb
      </span>
    </span>
  </div>
</div>
<router-outlet></router-outlet>

